<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
</head>
<link rel="stylesheet" href="styles.css" />
<body>
    <main>
        <h1>Welcome <%= name %></h1>
    <form method="post" action="/logout">
        <button class="logout">Logout</button>
    </form>
</main>
</body>
</html>